
/*header{
	margin: auto;
	margin-top: 50px;
	position: relative;
	height: 100vh;
	width: 100%;
	max-width: 1000px;
	background-image: url("../imagenes/logo.png");
	background-position: center 0 ;
	background-repeat: no-repeat;
}*/
header{
	height: 100vh;
}
nav{
	position: absolute;
	z-index: 99999999;
}
/*.imagen{
	background-color: red;
}*/
body , #ingreso{
	background-color: #BDBDBD;
}
.nav-wrapper .button-collapse .material-icons{
	font-size: 40px;
	margin-left: 10px;

}
.container{
	margin: auto;
	width: 100%;
	max-width: 1000px;

}
#redes{
	height: 60px;
	width: 70px;
	margin-left: -5px;
}
#login{
	margin-left: -100px;
	float: right;
}
.justify{
	text-align: justify;
}

.border-right{
	border-right: 1px solid #666666
}
p.white{
	font-size: 30px;

}
@media only screen and (max-width: 600px){
	.border-right{
		border: none;
	}
	header{
		height: 500px;
		/*background-image: url("../imagenes/logocel.png");*/
		background-size: 100%;
		background-position: left;
		background-position: center 550;
	}
	h2{
		font-size: 39px;
	}
	#mensaje{
		min-width: 155px;
		max-width: 155px;
	}
	#titulo{
		font-size: 24px !important;
	}
	div .card.z-depth-2.row{
		height: 500px;
	}
	#iconos{
		margin-left: 40px;
	}
	/*mauro*/
	#icon_ini{
		display: inline-block;
	}
	.menu-fixed{
		margin-top: 5px;
		position: fixed;
		z-index: 1000 !important;
		top: 0;
		width: 100%;
		max-width: 945px;
		left: 0;
	}
	.menu-fixed ul li a{
		margin-left:0px;
		padding: 2px;
	}
	p.white{
		font-size: 20px;
	}
	#documento , #contrasena{
		width: 85%;
	}
}
#contacto{
	margin-top: 65px;
	padding: 5px 20px 20px;
	min-height: 520px;
	height: 650px;
}
#titulo{
	font-size: 38px;
	margin-bottom: 30px;
}
#textarea1{
	max-height: 230px;
}
div .card.z-depth-2.row{
	height: 550px;
}
#logocont{
	width: 700px;
	margin-bottom: -50px;
}
#enviar{
	margin-top: 30px;
}
#btn_red{
	margin-top: 15px;
	display: block;
}
.menu-fixed{
	position: fixed;
	z-index: 1000 !important;
	top: 0;
	width: 100%;
	/*max-width: 1000px;*/
}
#login label{
	font-size: 18px;
	color: black;
}
nav div ul li a{
	margin-right: 10px;
}

.side-nav i{
	margin-right: 5px;
}
#registro{
	padding: 40px;
}
#ingreso{
	padding: 10px;
	height: 600px;
}
#cingreso{
	padding: 20px;
	height: 330px;
}
#nosotros{
	padding: 30px;
}

#dropdown1{
	width: 170px !important;
}

#casual{
	padding: 30px;
	height: 200px;
}
/*Mauro*/
#planes{
	padding: 40px;
}
#asignaciondecitas{
	padding: 20px;
}
#allusersJV{
	padding: 30px 70px;
}
#hora, #min, #seg{
	font-size: 50px;
	font-family: Share Tech Mono;
}
#Nomdia, #dia, #mes, #anho{
	font-size: 40px;
	font-family: Share Tech Mono;
}
/*div #quines{
	width: 100%;
	height: 100px;
}*/
