::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0  ;
    /*border-radius: 10px;*/
    background-color: #E0E0E0;
}

::-webkit-scrollbar-thumb {
    /*border-radius: 10px;*/
    -webkit-box-shadow: inset 0 0  ;
    background-color: #424242;
}
#quienes_son{
	margin: 0px;
	padding: 0px;

}
#quienes_son span{
	position: absolute;
	margin-left: 15px;
	margin-top: 43px;
	color: white;
}
#quienes_son span p{
	font-size: 18px;
}

.log{
	margin: auto;
	margin-top: -10px;
	position: relative;
	height: 100vh;
	width: 100%;
	max-width: 1000px;
	/**background-image: url("../imagenes/logo.png");**/
	background-position: center 0 ;
	background-repeat: no-repeat;
}
header{
	height: 100vh;
}
nav{
	position: relative;
	z-index: 99999999;
    background-color: #FF9800;
}
nav a{
	margin: 0px 30px 0px 0px;
}
/*.imagen{
	background-color: red;
}*/
body , #ingreso{
	background-color: #e0e0e0;
}
.nav-wrapper .button-collapse .material-icons{
	font-size: 40px;
	margin-left: 10px;

}
.container{
	margin: auto;
	width: 100%;
	max-width: 1000px;

}
#redes{
	height: 60px;
	width: 70px;
	margin-left: -5px;
}
.justify{
	text-align: justify;
}

.border-right{
	border-right: 1px solid #666666
}
p.white{
	font-size: 30px;

}
#documento , #contrasena{
	color: black;
	font-size: 16px;
	width: 100%;
}
@media only screen and (max-width: 600px){
	#quienes_son span{
	position: absolute;
	margin-left: 15px;
	margin-top: -22px;
	}
	#quienes_son span p{
		font-size: 12px;
	}
	#quienes_son{
		margin-top: 160px;
	}
	.border-right{
		border: none;
	}
	header{
		height: 500px;
		/*background-image: url("../imagenes/logocel.png");*/
		background-size: 100%;
		background-position: left;
		background-position: center 550;
	}
	h2{
		font-size: 39px;
	}
	#mensaje{
		min-width: 155px;
		max-width: 155px;
	}
	#titulo{
		font-size: 24px !important;
	}
	div .card.z-depth-2.row{
		height: 500px;
	}
	#iconos{
		margin-left: 40px;
	}
	/*mauro*/
	#icon_ini{
		display: inline-block;
	}
	.menu-fixed{
		margin-top: 5px;
		position: fixed;
		z-index: 1000 !important;
		top: 0;
		width: 100%;
		max-width: 945px;
		left: 0;
	}
	.menu-fixed ul li a{
		margin-left:0px;
		padding: 2px;
	}
	p.white{
		font-size: 20px;
	}
	#documento , #contrasena{
		width: 85%;
	}
	.log{
		margin: auto;
		margin-top: 40px;
		position: relative;
		height: 100vh;
		width: 100%;
		max-width: 1000px;
		/**background-image: url("../imagenes/logo.png");**/
		background-position: center 0 ;
		background-repeat: no-repeat;
	}
}
#contacto{
	margin-top: 65px;
	padding: 5px 20px 20px;
	min-height: 520px;
	height: 650px;
}
#titulo{
	font-size: 38px;
	margin-bottom: 30px;
}
#textarea1{
	max-height: 230px;
}
div .card.z-depth-2.row{
	height: 550px;
}
#logocont{
	width: 700px;
	margin-bottom: -50px;
}
#enviar{
	margin-top: 30px;
}
#btn_red{
	margin-top: 15px;
	display: block;
}
.menu-fixed{
	position: fixed;
	z-index: 1000 !important;
	top: 0;
	width: 100%;
	/*max-width: 1000px;*/
}
#login label{
	font-size: 18px;
	color: black;
}
nav div ul li a{
	margin-right: 10px;
  color: white;
}

.side-nav i{
	margin-right: 5px;
}
#registro{
	padding: 40px;
}
#ingreso{
	padding: 10px;
	height: 600px;
}
#cingreso{
	padding: 20px;
	height: 330px;
}
#nosotros{
	padding: 30px;
}

#dropdown1 ,#dropdown2{
	width: 170px !important;
}

#casual{
	padding: 30px;
	height: 200px;
}
/*Mauro*/
#planes{
	padding: 40px;
}
#asignaciondecitas{
	padding: 20px;
}
#allusersJV{
	padding: 30px 70px;
}
#empleados{
	padding: 30px 70px;
}
#hora, #min, #seg{
	font-size: 50px;
	font-family: Share Tech Mono;
}
#Nomdia, #dia, #mes, #anho{
	font-size: 40px;
	font-family: Share Tech Mono;
}
/*div #quines{
	width: 100%;
	height: 100px;
}*/
#vmodal{
	width: 100%;
	height: 100%;
	color: #fff;
	position: fixed;
	background-image: url("../imagenes/fondo.png");
	z-index: 10000000000000000;
	top: 0px;
	display: none;
}
#cerrar{
	color: black;
	text-align: right;
	font-size:25px;
	font-family: Arial Black;
	cursor: pointer;
}
#ventana{
	width: 40%;
	top: 0px;
	padding: 10px 40px;
}
#confimacion{
	color: black;
	top:200px;
	width: 50%;
	height: 300px;
	padding: 10px 40px;
}
footer{
	color:white;
}
.page-footer{
	background-color: #FF9800;

}
#lbidentidad, #lbcorreo, #lbtextarea1{
	color: white;
}
#dash{
	padding: 40px;
	transition: 
}


